:root {
    --bs-blue: #037BC0;
    --bs-green: #8cbc00;
    --bs-light-blue: #037bc00f;
}
html {
    font-size: 62.5%;  /* 1 rem = 10px **/
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3.8rem;
}
@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 3.2rem;
}
@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}
h3 {
    font-size: 2.4rem;
}
@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
    }
}
/** colors */
.text-primary,
.nombre-sitio {
    color: var(--bs-blue)!important;
}
.btn-success {
    background-color: var(--bs-green)!important;
}
.bg-primary {
    background-color: var(--bs-light-blue)!important;
}

.btn-primary {
    background-color: var(--bs-blue)!important;
}
